# Database Initialization Scripts

The scripts here will create data sets to be used in subsequent labs.

In [23]:
# Run this first!
from faker import Faker
import psycopg2
from tqdm import tqdm

Faker.seed(0)

conn = psycopg2.connect(
    host="postgresql.psql-tuning",
    database="postgres",
    user="postgres",
    password="postgres",
    port=5432)
cur = conn.cursor()
fake = Faker()
conn.rollback()

## Account Dataset

In [24]:
# Reset Table
cur.execute('DROP TABLE IF EXISTS account_dataset')

sql = """
CREATE TABLE account_dataset (
    user_id VARCHAR ( 50 ) PRIMARY KEY,
    username VARCHAR ( 50 ) UNIQUE NOT NULL,
    password VARCHAR ( 50 ) NOT NULL,
    email VARCHAR ( 255 ) UNIQUE NOT NULL,
    created_on INTEGER NOT NULL
);
"""
cur.execute(sql)
conn.commit()
fake.unique.clear()

In [25]:
# Populate Table
count = 50000
try:
    user_ids = [fake.unique.name() for i in tqdm(range(count))]
    usernames = [fake.unique.user_name() for i in tqdm(range(count))]
    passwords = [fake.unique.password() for i in tqdm(range(count))]
    emails = [fake.unique.email() for i in tqdm(range(count))]
    created_on = [fake.unique.unix_time() for i in tqdm(range(count))]
    
    for i in tqdm(range(count)):
        sql = f"INSERT INTO account_dataset (user_id, username, password, email, created_on) VALUES ('{user_ids[i]}', '{usernames[i]}', '{passwords[i]}', '{emails[i]}', '{created_on[i]}')"
        cur.execute(sql)
except Exception as e:
    print(type(e))
    print(e)
    conn.rollback()

conn.commit()

100%|██████████| 50000/50000 [00:11<00:00, 4184.77it/s]
100%|██████████| 50000/50000 [00:10<00:00, 4752.50it/s]
100%|██████████| 50000/50000 [00:01<00:00, 34615.51it/s]
100%|██████████| 50000/50000 [00:10<00:00, 4705.74it/s]
100%|██████████| 50000/50000 [00:00<00:00, 56886.54it/s]
100%|██████████| 50000/50000 [00:14<00:00, 3516.94it/s]