# Initialization

The scripts here will contain pre-requisites to the labs.

## Account Dataset

In [1]:
# Reset Table
from LabDatabaseHandler import LabDatabaseHandler
db = LabDatabaseHandler()
db.execute('DROP TABLE IF EXISTS account_dataset')

sql = """
CREATE TABLE account_dataset (
    user_id VARCHAR ( 50 ) PRIMARY KEY,
    username VARCHAR ( 50 ) UNIQUE NOT NULL,
    password VARCHAR ( 50 ) NOT NULL,
    email VARCHAR ( 255 ) UNIQUE NOT NULL,
    created_on INTEGER NOT NULL
);
"""
db.execute(sql)

16

In [2]:
# Populate Table
count = 50000

user_ids = [db.fake.unique.name() for i in db.tqdm(count)]
usernames = [db.fake.unique.user_name() for i in db.tqdm(count)]
passwords = [db.fake.unique.password() for i in db.tqdm(count)]
emails = [db.fake.unique.email() for i in db.tqdm(count)]
created_on = [db.fake.unique.unix_time() for i in db.tqdm(count)]

for i in db.tqdm(count):
    sql = f"INSERT INTO account_dataset (user_id, username, password, email, created_on) VALUES ('{user_ids[i]}', '{usernames[i]}', '{passwords[i]}', '{emails[i]}', '{created_on[i]}')"
    db.execute(sql)
db.commit()

100%|██████████| 50000/50000 [00:10<00:00, 4898.35it/s]
100%|██████████| 50000/50000 [00:11<00:00, 4257.47it/s]
100%|██████████| 50000/50000 [00:02<00:00, 21122.63it/s]
100%|██████████| 50000/50000 [00:10<00:00, 4724.20it/s]
100%|██████████| 50000/50000 [00:00<00:00, 56021.85it/s]
100%|██████████| 50000/50000 [00:15<00:00, 3236.92it/s]

In [3]:
db.commit()