# Database Initialization Scripts

The scripts here will create data sets to be used in subsequent labs.

In [57]:
# Run this first!
from faker import Faker
import psycopg2

Faker.seed(0)

conn = psycopg2.connect(
    host="postgresql.psql-tuning",
    database="postgres",
    user="postgres",
    password="postgres",
    port=5432)
cur = conn.cursor()
fake = Faker()

## Account Dataset

In [83]:
# Reset Table
cur.execute('DROP TABLE IF EXISTS account_dataset')

sql = """
CREATE TABLE account_dataset (
    user_id VARCHAR ( 50 ) PRIMARY KEY,
    username VARCHAR ( 50 ) UNIQUE NOT NULL,
    password VARCHAR ( 50 ) NOT NULL,
    email VARCHAR ( 255 ) UNIQUE NOT NULL,
    created_on TIMESTAMP NOT NULL
);
"""
cur.execute(sql)
conn.commit()

In [86]:
# Populate Table
try:
    for i in range(10):
        user_id = fake.name()
        username = fake.user_name()
        password = fake.password()
        email = fake.email()
        created_on = fake.date()
        sql = f"INSERT INTO account_dataset (user_id, username, password, email, created_on) VALUES ('{user_id}', '{username}', '{password}', '{email}', '{created_on}')"
        cur.execute(sql)
except Exception as e:
    print(e)
    conn.rollback()

conn.commit()