# Database Initialization Scripts

The scripts here will contain pre-requisites to the labs.

In [1]:
# Run this before running anything else below
from LabDatabaseHandler import LabDatabaseHandler
db = LabDatabaseHandler()

## Account Dataset

In [2]:
# Reset Table
db.execute('DROP TABLE IF EXISTS account_dataset')

sql = """
CREATE TABLE account_dataset (
    user_id VARCHAR ( 50 ) PRIMARY KEY,
    username VARCHAR ( 50 ) UNIQUE NOT NULL,
    password VARCHAR ( 50 ) NOT NULL,
    email VARCHAR ( 255 ) NOT NULL,
    created_on INTEGER NOT NULL
);
"""
db.execute(sql);

In [3]:
# Populate Table
count = 50000

user_ids = [db.fake.unique.name() for i in db.tqdm(count)]
usernames = [db.fake.unique.user_name() for i in db.tqdm(count)]
passwords = [db.fake.password() for i in db.tqdm(count)]
emails = [db.fake.email() for i in db.tqdm(count)]
created_on = [db.fake.unix_time() for i in db.tqdm(count)]

for i in db.tqdm(count):
    sql = f"INSERT INTO account_dataset (user_id, username, password, email, created_on) VALUES ('{user_ids[i]}', '{usernames[i]}', '{passwords[i]}', '{emails[i]}', '{created_on[i]}')"
    db.execute_only(sql)
db.commit()

100%|██████████| 50000/50000 [00:10<00:00, 4719.34it/s]
100%|██████████| 50000/50000 [00:11<00:00, 4489.88it/s]
100%|██████████| 50000/50000 [00:01<00:00, 43826.92it/s]
100%|██████████| 50000/50000 [00:08<00:00, 5843.45it/s]
100%|██████████| 50000/50000 [00:00<00:00, 118613.71it/s]
100%|██████████| 50000/50000 [00:14<00:00, 3536.18it/s]

In [ ]:
# Check certain properties of database

# Check there are repeat emails
db.execute('SELECT email FROM account_dataset GROUP BY email HAVING COUNT(email) > 1;')
assert len(db.cur.fetchall()) > 0, "No repeated emails detected. Set count variable to a larger number."